params {
    bam    = null
    reads  = null
    index  = null
    overlaps = null
    outdir = null
}

process {
    withName: 'GENERATE_OVERLAPS' {
        cpus = 64
        memory = '250.GB'
    }
    withName: 'BAM2FQ' {
        cpus = 24
        memory = '200.GB'
    }
    withName: 'FQIDX' {
        cpus = 24
        memory = '200.GB'
    }
}
